<div id="profile-container">
    <div id="user-posts">
        <div id="user-reviews">
            <h4>My Reviews</h4>
        </div>
        <div id="user-comments">
            <h4>My Comments</h4>
        </div>
        <div id="user-likes">
            <h4>My Likes</h4>
        </div>
    </div>

    <div id="user-infos">
        <div class="flex1">
            <h3 id="user-name">test</h3>
            <p id="user-email">email</p>
            <button onclick="logout()">Logout</button>
        </div>
        <div class="flex2">
            <form id="change-password">
                <label>Change My Password <span class="alert"></span></span></label>
                <input type="password" name="old-password" placeholder="Old Password" required>
                <input type="password" name="new-password" placeholder="New Password" required>
                <input type="password" name="new-password-check" placeholder="New Password Again" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>