#bakery-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 0;
}

#bakery-container > div{
    width: max-content;
}

.each-img {
    position: relative;
    margin-top: 60px;
    margin-left: 30px;
}

.each-img > .fa-heart{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    font-size: 50px;
    color: white;
    opacity: 0;
    visibility: hidden;
}

.each-img:hover > .fa-heart{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.each-img > * > .fa-heart.hidden{
    opacity: 0;
    visibility: hidden;
}

/* .each-img > .carousel{
    width: 70%;
    height: 360px;
    max-height: 540px;
    object-fit: cover;
} */

.each-img > .carousel > * > * > img {
    height: 40vh;
    object-fit: cover;
}

.carousel-inner {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.bakery-review-comment-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    border-top: 1px solid darkred;
    padding-top: 35px;
}

.bakery-comment {
    margin-top: 20px;
}

#comment {
    margin-right: 30px;
    flex: 1;
    margin-top: 30px;
    width: 300px;
    height: 100px;
}

#comment:focus {
    outline-color: darkred;
}

#comment-submit {
    background-color: white;
    outline: none;
    color: darkred;
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 3px 8px;
    font-weight: bold;
}

#comment-submit:hover {
    background-color: darkred;
    color: white;
}

h5 {
    margin-bottom: 25px;
}

.reviews {
    margin-bottom: 35px;
}

.reviews > p:hover {
    cursor: pointer
}

.comments {
    margin-bottom: 35px
}

/* Dragon's demo  */
/* left as exercise - how to center image? */
.bakery-hero-img-wrapper {
    display: flex;
    justify-content: center;
}

.bakery-hero-img {
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    align-self: center;
}



