.each-result{
    cursor: pointer;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

#bakeries-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex.center {
    margin-top: 10px;
}

#search{
    outline: none;
    border-radius: 10px;
    border: solid 2px darkred;
    width: 15%;
}

/* #search:active{
    outline: hidden;
} */


/* Dragon's demo - how to resize & crop image in given size */
.demo-pic-resize-1 {
    height: 200px;
    width: 260px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

/* Dragon's demo - text box */
.demo-address-box {
    height: 50px;
    margin: 0px 10px 15px 10px ;
    flex: 1;
}

.demo-each-result {
    cursor: default;
}

.demo-span-ref {
    cursor: pointer;
}

