<div id="bakery-container">
    <div>

        <div class="each-img">
            <i class="far fa-heart" id="like"></i>
            <!-- <i class="fas fa-heart"></i> for liked posts -->
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="bread-3707013_960_720.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="plain_sandwich.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="farine-counter.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a> -->
            </div>
        </div>
        <div id="bakery-context">
            <!-- <div class="each-info each-name">
                NAME
            </div>
            <div class="each-info each-content">
                <p>ADDRESS, ADDRESS, ADDRESS, ADDRESS, ADDRESS</p>
                <p>phone 12345678</p>
                <p>opening hours: 00:00 - 23:59</p>
            </div> -->
            <!-- <div class="each-info reviews">
                <h3>Reviews</h3>
                <span>
                    review content review content review content review content
                    review content review content review content review content
                </span>
            </div>
            <div class="each-info comments">
                <h3>Comments</h3>
                <span>
                    comments comments comments comments comments comments comments
                    comments comments comments comments comments comments comments
                    comments comments comments comments comments comments comments
                </span>
            </div> -->
            <!-- <form action="/bakery-comment" id="bakery-comment">
                <textarea class="each-info comment" name="content" required></textarea>
                <input type="submit" value="post">
            </form> -->
        </div>
    </div>
</div>
