.flex-row {
    display: flex;
    flex-direction: row;
}

#bread-pic-upload{
    max-width: 30vw;
    max-height: 30vh;
}

#bread-pic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bread-type-predict {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-pic {
    color: transparent;
  }

#select-pic::-webkit-file-upload-button {
    visibility: hidden;
  }
#select-pic::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
#select-pic:hover::before {
    border-color: black;
}
#select-pic:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#bread-intro-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height: 90vh;
    width: 100%;
}

.bread-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30vw; */
    position: relative;
    margin: 10px;
}

.bread-intro > img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.bread-intro::after{
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    font-size: 12px;
    padding: 10px;
    color: black;
    background: rgb(255, 255, 255, 0.75);
    border-radius: 20px;
    visibility: hidden;
}

.bread-intro:hover::after{
    visibility: visible;
}

#pb::after{
    content: "A pineapple bun (Cantonese: 菠蘿包) is a kind of sweet bun predominantly popular in Hong Kong and also common in Chinatowns worldwide. Despite the name, it does not traditionally contain pineapple; rather, the name refers to the look of the characteristic topping (which resembles the texture of a pineapple)."
}

/* #et::after{
    content: "The egg tart (Cantonese: 蛋撻) is a kind of custard tart found in Cantonese cuisine deriving from the English custard tart and Portuguese pastel de nata. The dish consists of an outer pastry crust filled with egg custard. Egg tarts are often served at dim sum restaurants and cha chaan tengs (茶餐廳)."
} */

#ct::after{
    content: "Coconut tart (Cantonese: 椰撻) is a kind of pie in Hong Kong. It is very similar to egg tarts. It has a small round pot-shaped crust. The filling is made of a mixture of sugar, flour, eggs and coconut shreds. The amount of eggs is less than that of egg tarts. Due to the addition of shredded coconut, the filling of the coconut tart is full of coconut fragrance, and the tart noodles often have a flattened cherry. Another difference with egg tarts is that coconut tarts only use butter tart crusts instead of meringue tart crusts."
}

#ctb::after{
    content: "The cocktail bun (Cantonese: 雞尾包) is a Hong Kong-style sweet bun with a filling of shredded coconut. It is one of several iconic types of baked goods originating from Hong Kong."
}

#chd::after{
    content: "HK-style sausage bun (Cantonese: 腸仔包) is a popular bread among Asian bakeries like pineapple buns and cocktail buns. This homemade fluffy, soft and tasty Hong Kong hot dog buns recipe is great for parties, gatherings, or as a snack."
}

.center{
    text-align: center;
}

.title{
    margin: 20px 0;
}

/* Dragon's demo */

.demo-bread-wrapper {
    position: relative;
    width: 350px;
    height: 250px;
}


.demo-img {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.demo-img-text {
    background-color: #ffffffe6;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 0.8rem;
    visibility: hidden;
}

.demo-bread-wrapper:hover>.demo-img-text{
    visibility: visible;
}





