<h2 class="center title">Know your Bread</h2>
<div class="flex-row">
    <div id="bread-intro-container">
        <div class="bread-intro" id="chd">
            <img src="bread_photos/chinese_hotdog.jpg">
            <h5>HK-style Sausage bun</h5>
            <!-- <p class="intro-para">
                HK-style sausage bun (Cantonese: 腸仔包) is a popular bread among Asian bakeries like pineapple buns and cocktail buns. This
                homemade fluffy, soft and tasty Hong Kong sausage buns recipe is great for parties, gatherings, or as a
                snack.
            </p> -->
        </div>
        <div class="bread-intro" id="ctb">
            <img src="bread_photos/cocktail_bun.jpg">
            <h5>Cocktail Bun</h5>
            <!-- <p class="intro-para">
                The cocktail bun (Cantonese: 雞尾包) is a Hong Kong-style sweet bun with a filling of shredded coconut. It is one
                of several iconic types of baked goods originating from Hong Kong.
            </p> -->
        </div>
        <div class="bread-intro" id="ct">
            <img src="bread_photos/coconut_tart.jpg">
            <h5>Coconut Tart</h5>
            <!-- <p class="intro-para">
                Coconut tart (Cantonese: 椰撻) is a kind of pie in Hong Kong. It is very similar to egg tarts. It has a small round pot-shaped
                crust. The filling is made of a mixture of sugar, flour, eggs and coconut shreds. The amount of eggs is less
                than that of egg tarts. Due to the addition of shredded coconut, the filling of the coconut tart is full of
                coconut fragrance, and the tart noodles often have a flattened cherry. Another difference with egg tarts is
                that coconut tarts only use butter tart crusts instead of meringue tart crusts.
            </p> -->
        </div>
        <div class="bread-intro" id="et">
            <div class="demo-bread-wrapper">
                <img class='demo-img' src="bread_photos/egg_tart.jpg">
                <div class="intro-para demo-img-text">
                    The egg tart (Cantonese: 蛋撻) is a kind of custard tart found in Cantonese cuisine deriving from
                    the English custard tart and Portuguese pastel de nata. The dish consists of an outer pastry crust filled
                    with egg custard. Egg tarts are often served at dim sum restaurants and cha chaan tengs (茶餐廳).
                </div>
            </div>
            



            <h5>Egg Tart</h5>


        </div>
        <div class="bread-intro" id="pb">
            <img src="bread_photos/pineapple_bun.jpg">
            <h5>Pineapple Bun</h5>
            <!-- <p class="intro-para">
                A pineapple bun (Chinese: 菠蘿包) is a kind of sweet bun predominantly popular in Hong Kong and also common
                in Chinatowns worldwide. Despite the name, it does not traditionally contain pineapple; rather, the name
                refers to the look of the characteristic topping (which resembles the texture of a pineapple).
            </p> -->
        </div>
        <div id="bread-type-predict">
            <form id="bread-pic">
                <input id="select-pic" type="file" name="uploads" accept="image/*" onchange="printPic(event)">
                <input type="submit" value="Submit">
            </form>
            <img id="bread-pic-upload">
            <div id="bread-type-result"></div>
        </div>
    </div>
    
        
</div>