
.header-intro {
    padding: 0 20px;
    justify-content: center;
    margin: 30px auto 60px auto;
    /* width: 75%; */
    /* max-width: 1280px; */
}

.setting {
    margin-right: 5px;
}

.home-banner {
    align-content: center;
    margin-bottom: 60px;
    width: 100%;
}

.home-banner > img {
    width: 100%;
    /* height: auto; */
    max-height: 820px;
    object-fit: cover;
}

.content-intro {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 70%;
    /* max-width: 1280px; */
    padding: 0 20px;
    font-size: 22px
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    margin-bottom: 120px;
}

.content-container > * {
    margin-left: 20px;
    margin-right: 20px;
}

.content-container > *:hover {
    cursor: pointer;
}

.content-container > * > img {
    width: 360px;
    height: 240px;
    margin-bottom: 15px;
}

/* Dragon's demo - how to resize & crop image in given size */
.demo-pic-resize {
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.content-container > * > div {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.function-highlight-container {
    width: 100%;
    margin-bottom: 90px;
}

.function-highlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.function-highlight > img {
    max-width: 100%;
    object-fit: cover;
    width: 640px;
    height: 480px;
}

.function-highlight > div {
    text-align: end;
    max-width: 640px;
    padding: 0 20px;
}
