<div class="header-intro">
    <span style="font-weight: bold; font-size: 24px;">
        City life. Fast Lunch.
    </span> 
    Hong Kong rhythm meant that demand for fast food is continuing on the rise. 
    <p>
        However, just because time is short, it does not mean you have to sacrifice quality. Hong Kong food is rich in culture and at every street corner, 
        there hides a bakery where local and unique bread is being baked, ready to sate your palate before you head back to crunch time. 
    </p>
    <br>
    At 
    <span style="font-weight: bold; font-size: 24px;">
        Runningbread,
    </span>
    we will find you that floury delight you have been craving for right by the corners.
</div>

<div class="home-banner">
    <img src="homemade-bread.jpg" alt="Bread Banner Photos">
</div>
<div class="content-intro" style="font-size: 22px;">
    Here at Runningbread, you can find out local bakery across the territory with bread-lovers insightful reviews and experience. 
</div>

<div class="content-container">
    <div onclick="toPage('bakery-list')">
        <img class='demo-pic-resize' src="farine-counter.png" alt="Bakery Photos">
        <div>Bakery</div>
    </div>
    <div onclick="toPage('map')">
        <img class='demo-pic-resize' src="Bien_Carame_lise__nxfxwz.jfif" alt="Bakery Location">
        <div>Map</div>
    </div>
    <div onclick="toPage('reviews')">
        <img src="bread-3707013_960_720.jpg" alt="Bakery Reviews">
        <div>Reviews</div>
    </div>
</div>

<div class="function-highlight-container">
    <div class="function-highlight">
        <img src="quiche.jpg" alt="Bakery Photos">
        <div>
            <h1>AI Bread Recognition</h1>
            <div style="font-size: 24px">
                Have you ever wondered what is that green paste the kid is holding over her mouth? 
                Or that round golden bun the man in front of you has cut the queue for? 
            </div>
                <br>
             <div style="font-size: 24px">
                Using Runningbread scanning technology, we would provide you with the name, ingredients and an interesting story behind every traditional bread that are still being made today in Hong Kong.
     
            </div>
        </div>
    </div>
</div>