.icons {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
  
    /* Center text */
    /* text-align: center; */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    z-index: 5;
  }
  
  .icons::before {
    z-index: -1;
    background: url("./pattern.svg") no-repeat center center;
    background-size: cover;
    content: "";
    width: 150vw;
    height: 150vw;
    position: absolute;
    left: -300px;
    animation: spin 200s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }