body {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* max-width: 1600px; */
    background-color: #EFD8D5;
    position: relative;
}

header, article, footer{
    /* padding: 0 20px; */
    width: 100%;
    max-width: 1600px;
}

header, article {
    background-color: white;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

article#main{
    position: relative;
    min-height: calc(100vh - 170px);
    margin: 20px 0px;
    /*                       ^^^ header + footer height */
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px auto 0 auto;
    /* width: 100%; */
    height: 50px;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border-bottom: 5px solid darkred;
}

.logo, .setting{
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    color: darkred;
}

.header-end {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.sub-menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.sub-menu {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

@media only screen and (max-width: 930px){
    .header-end{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .sub-menu{
        border: solid darkred 1px;
        position: absolute;
        top: 20px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
    }
    span.sub-menu-btn{
        padding: 5px 0;
    }

    .each-result {
        /* margin: 40px 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: 2px solid darkred;
        padding-bottom: 20px; */
        width: 60vw !important;
    }
}

span.sub-menu-btn{
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    z-index: 1;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 16px;
    color: darkred;
}

.sub-menu-btn::after{
    position: absolute;
    content: "";
    width: 0;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: #EFD8D5;
    border-radius: 5px;
    z-index: -1;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.sub-menu-btn:hover::after{
    width: 140%;
}

footer {
    background-color: rgb(116,61,50);
    height: 100px;
    padding: 20px 0;
    width: 100%;
    /* margin-top: 180px; */
}

.footer > span {
    color: white;
}

.hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0, 0.5);
    z-index: 20;
    display: flex;
}

.hover > div {
    margin: auto;
    height: 600px;
    width: min-content;
}

.hover.hidden{
    opacity: 0;
    visibility: hidden;
}

#main > * {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
