
    <div id="login-div">
        <div class="web-intro">
            <!-- <span class="web-intro-title">
                Welcome to Running Bread
            </span>
            <br> -->
            <span class="web-intro-content">
                When it comes to delicious bread, 
                <br>
                you know you need to run for it!
            </span>
        </div>
        <div class="forms-container">
            <form id="login">
                <span>Login</span>
                <input type="email" name="email" id="login-email" placeholder=" email">
                <input type="password" name="password" id="login-password" placeholder=" password">
                <input id="submit-profile" type="submit" value="Login">
                <span class="login alert"></span>
            </form>
        
            <form id="sign-up">
                <span>Join us</span>
                <input type="text" name="username" id="signup-username" placeholder=" username">
                <input type="email" name="email" id="signup-email" placeholder=" email">
                <input type="password" name="password" id="signup-password" placeholder=" password">
                <input type="password" name="check-password" id="check-password" placeholder=" enter password again">
                <input id="submit-profile" type="submit" value="Sign-up">
                <span class="sign-up alert"></span>
            </form>
        </div>
    </div>

