#login-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 20px 0;
}

#login, #sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-bottom: 2px solid darkred;
}

#login > input, #sign-up > input{
    margin: 10px 0;
}

.web-intro {
    display: flex;
    
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    /* padding: 0 20px; */
    justify-content: center;
    align-items: flex-end;
    /* width: 75%; */
    /* max-width: 1280px; */
}

.web-intro-content{
    height: max-content;
}

.web-intro > .web-intro-title {
    font-size: 50px;
    max-width: 500px;
    /* line-height: 1; */
    margin: 0;
    margin-bottom: 20px;
}

.web-intro > .web-intro-content {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin-bottom: 20px;
    max-width: 500px;
}

#sign-up > input:focus, #login > input:focus {
    outline-color: darkred;
}

#login-div > * > input[type=text], input[type=email], input[type=password] {
    border: 1px solid rgb(190, 187, 187);
    border-radius: 5px;
}

#sign-up > span, #login > span {
    font-size: 18px;
    font-weight: 500;
}

#submit-profile {
    color: darkred;
    font-weight: bold;
    background-color: white;
    border: 1px solid darkred;
    border-radius: 8px;
}

#submit-profile:hover {
    background-color: darkred;
    color: white;
    outline: none;
}

.forms-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}