.function:hover {
    cursor: pointer;
    text-decoration: underline solid rgb(116,61,50) 2px; 
    color: rgb(116,61,50);
    font-weight: bold;
}

.each-img > img{
    width: 70%;
    /* height: auto; */
    max-height: 540px;
    object-fit: cover;
}

.function-content-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 40px;
}

.bakery-intro {
    display: flex;
    flex-wrap: wrap;
}

.bakery-intro > * {
    margin-left: 30px;
    margin-right: 30px;
}

/* .function-content-container > * > img {
    width: 360px;
    height: 240px;
}

.function-content-container > * > div {
    text-align: center;
}  */

.each-info {
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
}

.each-name {
    margin-top: 5px;
    font-weight: bold;
}

.each-result {
    margin: 40px 20px 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-bottom: 2px solid darkred;
    padding-bottom: 20px;
    width: 25vw;
}

.each-result-info {
    margin: 0 5px;
}

textarea {
    resize: none
}

