#new-review {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-review > .review-title-textarea {
    height: 3vh;
    width: 80vw;
}
#new-review > .review-content-textarea {
    height: 50vh;
    width: 80vw;
}

#new-review > input {
    width: 100px;
}

#new-review > .select-file-for-review {
    width: 320px !important
}

#new-review > * {
    margin: 10px;

}

.review-content-textarea:focus, .review-title-textarea:focus {
    outline-color: darkred;
}

#preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#preview > * {
    margin: 10px 20px;
    width: 200px;
    height: 200px;
    border: 1px solid darkred;
}

.label {
    font-weight: bold;
    font-size: 36px
}

.select-file-for-review::before {
    content: 'Select photos';
    display: inline-block;
    /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
    border: 1px solid darkred;
    border-radius: 8px;
    padding: 6px 12px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    color: darkred;
}

.select-file-for-review::-webkit-file-upload-button {
    visibility: hidden;
}

.select-file-for-review:hover::before {
    background-color: darkred;
    color: white;
    outline: none;
}

.select-file-for-review:focus {
    outline: none;
}

#submit-review, .new-review {
    color: darkred;
    font-weight: bold;
    background-color: white;
    border: 1px solid darkred;
    border-radius: 8px;
}

#submit-review:hover, .new-review:hover {
    background-color: darkred;
    color: white;
    outline: none;
}