<!-- 
<form id="new-review">
    <label></label>
    <textarea name="content"></textarea>
    <input type="file" name="uploads" accept="image/*" multiple onchange="showPics()">
    <input type="submit" value="Submit"> -->
<form id="new-review" action="/post-review" method="POST" enctype="multipart/form-data">
    <label class="label"></label>
    <textarea class="review-title-textarea" name="title" placeholder=" Title" required></textarea>
    <textarea class="review-content-textarea" name="content" placeholder=" Content" required></textarea>
    <input id="file" class="select-file-for-review" type="file" name="uploads" accept="image/*" multiple
        required onchange="showPics()">
    <input id="submit-review" type="submit" value="Submit" >
</form>

<div id="preview">
<!-- 
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="bread-3707013_960_720.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="plain_sandwich.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="farine-counter.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div> -->

</div>