.news-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-page-intro {
    font-size: 48px;
    margin-bottom: 20px;
    padding: 0 50px 0 50px;
}

.news {
    padding: 25px 20px 35px 20px;
    border: solid 2px;
    margin: 0 30px 0 30px;
    border-color: rgb(116,61,50);
    border-radius: 25px;
    margin-bottom: 30px;
    max-width: 65%;
    background-color: rgba(255,255,255,1);
}

a, a:visited, a:active {
    color: unset;
    text-decoration: unset;
}

.news-title {
    font-weight: bold;
    font-size: 30px;
    color: rgba(54, 28, 23, 1);
    word-wrap: break-word;
}

.news-link {
    font-size: 16px;
    color: grey;
    word-wrap: break-word;
}

.news-abstract {
    font-size: 18px;
}