<div class="icons">
<div class="news-container">
    <div class="news-page-intro">
        Latest bakery news
    </div>
</div>
<!-- 
    <div class="news" >
        <a href="https://www.adaymag.com/2020/05/02/hong-kong-bakery.html" target="_blank">
            <div class="news-title">
                香港4 家麵包烘焙店，光是聞到香味就口水直流‧ A Day Magazine"
            </div>
            <div class="news-link">
                hk.ulifestyle.com.hk › 飲食 › 下午茶
    
            </div>
            <div class="news-abstract">
                賣相味道都一流嘅手工<em>麵包店</em>，麻糬Bagel，冰心面包都係店舖大熱！店內仲有咖啡供應，外賣翻屋企就最正！ 地址：. 新蒲&nbsp;...
            </div>
        </a>
    </div>  -->
</div>