#profile-container{
    display: flex;
    flex-direction: column;
}

#user-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-infos > div{
    padding: 0 40px;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

#change-password{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#change-password > input{
    margin: 10px;
}

#user-posts{
    display: flex;
    flex-direction: row;
}

#user-posts > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 50vh;
    margin: 15px;
    border: solid 2px darkred;
    border-radius: 10px;
}

#user-posts > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    border-bottom: solid 2px darkred;
}

#user-posts > div > div > img{
    width: 200px;
    object-fit: cover;
}

#change-password > label > span{
    color: darkred;
    font-weight: bold;
}