#reviews-list{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.review-img {
    position: relative;
    text-align: center;
}

.review-img > .like {
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 50px;
    font-weight: normal;
    color: darkred;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.review-img:hover > .far {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.shown {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 10;
}

.review-container {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-bottom: solid 3px darkred;
    padding: 0 50px 10px 50px;
}

.review-img > img {
    width: 65vw;
    /* max-width: 84vw; */
    height: 45vw;
}

.review-username, .review-content, .review-title, .review-created-time {
    /* width: 85% !important; */
    text-align: left !important;
}

.review-title {
    font-weight: bold;
    margin-top: 24px;
    font-size: 24px;
}

.review-created-time {
    margin-bottom: 24px;
    font-size: 14px;
}

.review-username {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

/* .review-comment {
    width: 85% !important;
} */

.review-comment > * {
    text-align: left !important;
}

.show-review-comment {
    font-weight: bold;
    color: darkred;
    font-size: 12px;
    margin-top: 25px
}

.show-review-comment:hover {
    cursor: pointer;
}

.review-comment-username {
    font-weight: bold;
    font-size: 12px;

}

.review-comment-content {
    font-size: 10px;
    margin-left: 15px
}

.comment-hidden {
    visibility: hidden;
}

.comment-shown {
    visibility: visible;
}

.review-comment-text {
    resize: none;
    border: solid 2px darkred;
    border-radius: 10px;
    padding: 0 7px 0 7px;
    width: 100%;
    outline: none;
    font-size: 5px;
    height: 50px;
}

.review-comment-text-area {
    width: 100%;
    margin-top: 15px
}

.review-comment-text-area > p {
    margin-top: 0;
    margin-bottom: 0;
}

.post-review-comment {
    border: solid 2px darkred;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    padding: 2px 7px 2px 7px;
    color: black;
    height: 25px;
    font-size: 5px;
    outline: none;
}

.each-review-comment {
    display: flex;
    flex-wrap: nowrap
}

.continue, .continue:hover {
    color: darkred;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}

.img-back {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
}

.back {
    font-size: 30px;
    margin-right: 5vw;
}

.fa-arrow-left, .fa-arrow-left:hover {
    color: darkred;
    cursor: pointer;
}

.each-content {
    margin-bottom: 15px
}

.each-bakery-name {
    font-weight: bold;
    font-size: 24px;
}

.each-bakery-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.each-bakery-info > :nth-child(1){
    font-weight: bold
}