.specific-review-container {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* border-bottom: solid 3px darkred; */
    padding: 0 50px 10px 5px;
}
