<!-- <div id="" class="review-container" onclick="toPage('review')" data-id="1"> -->
<div id="reviews-list">
    <div id="" class="review-container" data-id="1">
        <div class="review-img">
            <i class="far fa-heart like"></i>
            <i class="fas fa-heart like"></i>
            <img src="bread-main.jpg" alt="Review">
        </div>
    
        <div class="review-username">
            DEMO ONLY (not in database) Username
        </div>
        <div class="review-content">
            content content content content content content content content content content content content
            content content content content content content content content content content content content
            content content content content content content content content content content content content
        </div>
        <div class="review-comment">
            <div class="show-review-comment" onclick="showReviewComment()">
                Read N comments
            </div>
            <div class="each-review-comment">
                <div class="review-comment-username">
                    comment user
                </div>
                <div class="review-comment-content">
                    comment content
                </div>
            </div>
        </div>
        <form action="/review-comment" class="review-comment-text-area">
            <textarea class="review-comment-text" name="content" placeholder="Comment here" required></textarea>
            <p></p>
            <input type="submit" value="Post" class="post-review-comment">
        </form>
        <button class="testbutton" onclick="testingReview()">
            test
        </button>
    </div>
    
</div>
