<div id="" class="review-container">
    <div class="review-img">
        <i class="far fa-heart like"></i>
        <i class="fas fa-heart like"></i>
        <img src="bread-main.jpg" alt="Review">
    </div>

    <div class="review-username">
        Username
    </div>
    <div class="review-content">
        HAHAHAHAHHAH
    </div>
</div>